{% extends 'base.html' %}

{% block content %}
    <h2>Calendario de Férias da Equipe</h2>
    <p>Aqui você pode ver todas as férias já aprovadas.</p>

    <div id="calendario" style="max-width: 1100px; margin: 0 auto;"></div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarioEl = document.getElementById('calendario');

            var calendario = new FullCalendar.Calendar(calendarioEl, {
                locale: 'pt-br',

                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,listWeek'
                },
                events: '/api/eventos/',

                timeZone: 'local'
            });
            calendario.render();
        });
    </script>
{% endblock %}